@import "../../styles/variables";

.form-check-label {
  color: $chambray-blue2;
}

.location-filter-title {
  font: 700 14px 'Poppins', sans-serif;
  color: $light-gray3;
  line-height: 21px;
  text-transform: uppercase;
}
